<!-- new user modal -->
<div class="modal fade" id="modal-upload-avatar">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">上传头像</h4>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-default">
                    <div class="card-body">
                        <div class="row" id="actions">
                            <div class="col-lg-6">
                                <div class="btn-group w-100">
                                    <span class="btn btn-success col fileinput-button">
                                      <i class="fas fa-plus"></i>
                                      <span>选择头像</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center">
                                <div class="fileupload-process w-100">
                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0"
                                         class="progress progress-striped active" id="total-progress"
                                         role="progressbar">
                                        <div class="progress-bar progress-bar-success" data-dz-uploadprogress
                                             style="width:0%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table table-striped files" id="previews">
                            <div class="row mt-2" id="template">
                                <div class="col-auto">
                                    <span class="preview"><img alt="" data-dz-thumbnail src="data:,"/></span>
                                </div>
                                <div class="col d-flex align-items-center">
                                    <p class="mb-0">
                                        <span class="lead" data-dz-name></span>
                                        (<span data-dz-size></span>)
                                    </p>
                                    <strong class="error text-danger" data-dz-errormessage></strong>
                                </div>
                                <div class="col-4 d-flex align-items-center">
                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0"
                                         class="progress progress-striped active w-100" role="progressbar">
                                        <div class="progress-bar progress-bar-success" data-dz-uploadprogress
                                             style="width:0%;"></div>
                                    </div>
                                </div>
                                <div class="col-auto d-flex align-items-center">
                                    <div class="btn-group">
                                        <button class="btn btn-primary start">
                                            <i class="fas fa-upload"></i>
                                            <span>上传</span>
                                        </button>
                                        <button class="btn btn-warning cancel" data-dz-remove>
                                            <i class="fas fa-times-circle"></i>
                                            <span>取消</span>
                                        </button>
                                        <button class="btn btn-danger delete" data-dz-remove>
                                            <i class="fas fa-trash"></i>
                                            <span>删除</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button class="btn btn-default" data-dismiss="modal" type="button">关闭</button>
                <button class="btn btn-primary" th:onclick="useravatarS()" type="button">保存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>

    <!-- /.modal-dialog -->
</div>
