<section class="content" th:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card card-dark">
                        <div class="card-header">
                            <h3 class="card-title">编辑用户</h3>
                        </div>
                        <form id="user-edit-form">
                            <div class="card-body">
                                <input name="id" th:value="${response.data.id}" type="hidden">
                                <div class="form-group">
                                    <label for="username">用户名</label>
                                    <input class="form-control" id="username" name="username" readonly
                                           th:value="${response.data.username}" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="nickname">昵称</label>
                                    <input class="form-control" id="nickname" name="nickname" placeholder="用户昵称,可为空"
                                           th:value="${response.data.nickname}" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="mobile">手机号</label>
                                    <input class="form-control" id="mobile" name="mobile" placeholder="手机号,可为空"
                                           th:value="${response.data.mobile}" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="email">邮箱</label>
                                    <input class="form-control" id="email" name="email" placeholder="邮箱地址,可为空"
                                           th:value="${response.data.email}" type="email">
                                </div>
                                <!--<div class="form-group">
                                    <label for="enable">用户状态</label>
                                    <select class="form-control custom-select" id="enable" name="enabled">
                                        <option value="true" th:selected="${response.data.enabled} == true">激活</option>
                                        <option value="false" th:selected="${response.data.enabled} == false">禁用</option>
                                    </select>
                                </div>-->
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="project-actions">
                            <button class="btn btn-default btn-sm" th:onclick="users()">返回</button>
                            <button class="btn btn-primary btn-sm" th:onclick="userES()">提交</button>
                        </div>
                    </div>

                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>