<footer class="main-footer">
    <div class="float-right d-none d-sm-inline-block">
        <strong>Copyright &copy; 2021-2022 <a href="https://hotcloud.io">HotCloud.io</a>.</strong>
        All rights reserved
    </div>
</footer>