<!-- new template modal -->
<div class="modal fade" id="modal-new-template">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">添加模板</h4>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="template-form">
                    <div class="card card-primary">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="template_name">模版</label>
                                <select class="form-control custom-select" id="template_name" name="name">
                                    <option disabled selected>请选择</option>
                                    <option value="Redis">Redis</option>
                                    <option value="Mongodb">Mongodb</option>
                                    <option value="RedisInsight">RedisInsight</option>
                                    <option value="Mysql">Mysql</option>
                                    <option value="Rabbitmq">Rabbitmq</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="version">版本号</label>
                                <input class="form-control" id="version" name="version"
                                       placeholder="e.g. 指定redis的版本号为 6.2">
                            </div>
                            <div class="form-group">
                                <label for="shortDesc">描述</label>
                                <textarea class="form-control" id="shortDesc" name="shortDesc" rows="4"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="description">描述详情</label>
                                <textarea class="form-control" id="description" name="description" rows="12"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button class="btn btn-default" data-dismiss="modal" type="button">关闭</button>
                <button class="btn btn-primary" th:onclick="templateS()" type="button">保存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>

    <!-- /.modal-dialog -->
</div>
