<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>HotCloud | 模板管理</title>

  <link th:include="global-link">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <div th:include="admin/navbar"></div>
  <div th:include="admin/sidebar"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>模板管理</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/administrator/index}">Home</a></li>
              <li class="breadcrumb-item active">模板管理</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content" id="templates-fragment" th:fragment="content">
      <div th:include="admin/template/template-list"></div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <div th:include="footer"></div>

  <div th:include="admin/template/template-new-modal"></div>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<div th:include="global-script"></div>
<script th:src="@{/js/template-manage.js}">
</script>
</body>
</html>
